.page1{
     margin-top: 70px;
}
.inside-main{
    padding: 30px;
}
.explore-text{
    margin-top: 30px;
}
.page1-part1{
    padding: 10px;
}
.first-one{
    padding: 10px;
}
.card1{
    padding: 20px;
}
.card2{
    padding: 20px;
}